name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PowerShell
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Build Script
        run: |
          cp ./scripts/Prepare_Ewon_SD.ps1 ./PrepareEwonSD_latest.ps1

      - name: Publish Latest Release
        uses: ncipollo/release-action@v1
        with:
          tag: latest
          name: Latest Release
          body: ${{ github.event.head_commit.message }}
          artifacts: ./PrepareEwonSD_latest.ps1
          allowUpdates: true
          removeArtifacts: true
